<<<<<<< HEAD

=======
>>>>>>> df35ff37106c1cda78da94791f039e146024ea87
<footer>
  <div class="footer">
    <div class="inner_footer">
      <div class="footer_fourth">
        <h1>Need Help</h1>
        <a href="#">Terms &amp; Conditions</a>
        <a href="#">Privacy Policy</a>
      </div>

      <div class="footer_fourth">
        <h1>FAQs</h1>
        <a href="#">Common questions</a>
        <a href="#">Something</a>
      </div>

      <div class="footer_fourth">
        <h1>SHIPPING & DELIVERY</h1>
        <a href="#">Shipping</a>
        <a href="#">Delivery Times</a>
        <a href="#">Returns</a>
      </div>

      <div class="footer_fourth">
        <h1>CONTACT US</h1>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </div>
    </div>
  </div>
</footer>
