
<header>
  <nav>
    <span class="spanLeft">
      <!-- <li><img src="\images\logo.png"></li> -->
      <label class="logo" for="logo">BS</label>
      <a href="/main" class="navLink">HOME</a>
      <a href="/shop" class="navLink">SHOP MENS</a>
      <a href="/shop" class="navLink">SHOP WOMENS</a>
    </span>
    <span class="spanRight">
      <a href="/shop" class="navLink" >SHOP ALL</a>
      <a href="/login" class="navLink" >LOGIN</a>
    </span>
  </nav>
</header>
