
<nav>
  <div class="logo">
    <h1>BUY<span>SELL</span></h1>
  </div>
  <ul class="nav-links">
    <li><a href="/">HOME</a></li>
    <li id="mens"><a href="/products/mens">MENS</a></li>
    <li id="womens"><a href="/products/womens">WOMENS</a></li>
    <li><a href="/products">ALL</a></li>
  </ul>

  <ul class="credentials">
    <li><a href="/login">LOGOUT</a></li>
    <li><a href="/signup">PROFILE</a></li>
</ul>

  <div class="collapse">
    <div class ="line1"></div>
    <div class ="line2"></div>
    <div class ="line3"></div>
  </div>
</nav>
