footer ul {
  width: 100%;

  padding-right: 10%;
  padding-left: 10%;

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  vertical-align: middle;

  font-size: 10pt;
  color: white;

  // padding: 14px 16px;
}

footer ul img {
  width: 25px;
  height: 25px;
  display: inline-block;

  background-size: cover;
  background-color: rgb(153, 201, 202);

  // border-radius: 20px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}

footer li {
  // padding-left: 1%;
}
