body {
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
=======
  background-color: #FFFFFF;

  nav {
    position: sticky;
    top: 0;
    width: 100%;
  }
>>>>>>> e08d35787a548e64d5a7a70b45f6262296c5fa96
}
