body {
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
=======
  background-color: #FFFFFF;

  nav {
    position: fixed;
    width: 100%;
  }
>>>>>>> df35ff37106c1cda78da94791f039e146024ea87
}
