body {
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
=======
  background-color: #FFFFFF;

  // header {
  //   width: 100%;
  //   background-color: #FFFFFF;
  //   color: #18181a;
  //   padding: 1em;
  // }

  nav {
    position: fixed;
    width: 100%;
  }
>>>>>>> f75fc6ab076d4504990f1379115d2d3e46c3b17b
}
