
nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px;
  justify-content: space-between;
}

.spanLeft {
  width: 600px;
  display: flex;
  justify-content: space-around;
}
.spanRight {
  display: flex;
  justify-content: space-evenly;
  width: 15em;
}

.navLink {
  display: flex;
  align-items: flex-end;
  margin-top: 50px;
  justify-content: center;
  color: white;
  text-decoration: none;
  width: -webkit-fill-available;
  background-size: 80px 20px;
}
.logo {
  color: white;
  font-size: xxx-large;
}
.navLink:hover {
  background: teal;
}
