main {
  display: flex;
  flex-direction: column;
}
.filterSpan {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  height: 180px;
  margin-bottom: 15px;
}
.filterItems {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  height: 400px;
  margin-bottom: 15px;
}
.filterStyle {
  border-style: solid;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: thick;
}
.filterStyle:hover {
  border-color: rgb(153, 201, 202);
}
.itemStyle {
  display: flex;
  flex-direction: row;
}
.userSpanStyle {
  padding-left: 4px;
  padding-top: 4px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-family: 'Poppins', sans-serif;
}
.description {
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  width: 236px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding: 8px;
  font-family: 'Poppins', sans-serif;
}
.buyNow {
  background-color: black;
  height: 40px;
  width: 150px;
  color:snow;
  border: none;
}
.buyNow:hover {
  background-color: rgb(153, 201, 202);
}
.itemContent {
  border-style: solid;
  border-width: 2px;
  display: flex;
  flex-direction: column;
}
.price {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.productInfo {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: space-around;
}
.imgFix {
  margin-right: 40px;
  max-width: 300px;
  height: auto;
}
.filterByPrice {
  display: flex;
  align-self: flex-end;
}
.buttonsNprice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
