.mytabs {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  padding: 10%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  padding: 25px;
  background: #101010;
  color: white;
  font-weight: 400;
  font-size: 14pt;
  border-left: white;
  border-style: solid;
  border-radius: 40px 40px 10px 10px;
}

.mytabs .tab {
  width: 100%;
  padding: 20px;
  background: white;
  margin-top: 1em;
  order: 1;
  display: none;
}

.mytabs .tab h2 {
  font-size: 20pt;
}

.mytabs input[type='radio']:checked + label + .tab {
  display: block;
}

.mytabs input[type='radio']:checked + label {
  background: rgb(153, 201, 202);;
}

.act {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.table_active th{
  font-size: 16pt;
  font-weight: 600;
}
