//-----Format Tabs-----//
.mytabs {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  padding: 20px;
  background: #101010;
  color: white;
  font-weight: 400;
  font-size: 14pt;
  border-right: 5px white solid;
  border-radius: 40px 40px 0px 0px;
}

.mytabs .tab {
  width: 100%;
  background: white;
  order: 1;
  display: none;
  border-top: 10px solid;
  border-color: rgb(153, 201, 202);
}

.mytabs .tab h2 {
  font-size: 20pt;
  padding-top: 20px;
}

//-----Format radio buttons to show as tabbed layout-----//
.mytabs input[type='radio']:checked + label + .tab {
  display: block;
}

.mytabs input[type='radio']:checked + label {
  background: rgb(153, 201, 202);
}

//-----Format Active Listings Tab-----//
.table_active  {
  font-size: 16pt;
  font-weight: 600;
  padding: 0;
  background: rgb(235, 235, 235);
}

.table_active th {
  font-size: 14pt;
  font-weight: 600;
  padding: 0;
  height: 5em;
  background: rgb(235, 235, 235);
  vertical-align: center;
  text-align: left;
}

.table_active tr {
  font-size: 12pt;
  font-weight: 200;
  padding: 0;
  height: 5em;
  background: rgb(235, 235, 235);
  vertical-align: center;
  text-align: left;

  border-bottom: 1px solid black;
}

.table_active td {
word-wrap: break-word;
}

.table_active #id {
  width: 2%;
}

.table_active #image {
  width: 50%;
}

.table_active #gender {
  width: 10%;
}

.table_active #size {
  width: 2%;
}

.table_active #category {
  width: 10%;
}

.table_active #description {
  width: 30%;
}

.table_active #price {
  width: 5%;
}

.table_active #price {
  width: 5%;
}

.table_active #sold {
  width: 5%;
}

.table_active #delete {
  width: 5%;
}

.table_active thead tr {
  border-bottom: 2px;
  border-color: #101010;
  border-style: solid;
}

.table_active #btndelete {
background: black;
font-family: poppins, sans-serif;
color: white;
height: 50px;
width: 85px;
font-size: 14pt;
font-weight: 600;
border-color: black;
}

.table_active #btnsold {
  background: black;
  font-family: poppins, sans-serif;
  color: white;
  height: 50px;
  width: 85px;
  font-size: 16pt;
  font-weight: 600;
  background-color: rgb(153, 201, 202);
  border-color: rgb(153, 201, 202);

  }

//-----Format All Listings Tab-----//
.table_all  {
  font-size: 16pt;
  font-weight: 600;
  padding: 0;
  background: rgb(235, 235, 235);
}

.table_all th {
  font-size: 14pt;
  font-weight: 600;
  padding: 0;
  height: 5em;
  background: rgb(235, 235, 235);
  vertical-align: center;
  text-align: left;
}

.table_all tr {
  font-size: 12pt;
  font-weight: 200;
  padding: 0;
  height: 5em;
  background: rgb(235, 235, 235);
  vertical-align: center;
  text-align: left;

  border-bottom: 1px solid black;
}

.table_all td {
word-wrap: break-word;
}

.table_all #id {
  width: 2%;
}

.table_all #image {
  width: 50%;
}

.table_all #gender {
  width: 10%;
}

.table_all #size {
  width: 2%;
}

.table_all #category {
  width: 10%;
}

.table_all #description {
  width: 30%;
}

.table_all #price {
  width: 5%;
}

.table_all #price {
  width: 5%;
}

.table_all #sold {
  width: 5%;
}

.table_all tbody tr {
  border-bottom: 2px;
  border-color: #101010;
  border-style: solid;
}

//-----Format Create New Listing Tab-----//
.container {
  background-color:rgb(235, 235, 235);
  padding: 10%;
}
.container label {
  background-color: rgb(235, 235, 235);
  color: black;
  font-weight: 600;
  font-size: 14pt;
  border-right: 0px;
  border-radius: 0px 0px 0px 0px;
}

.container #newImageUrl {
  height: 50px;
  width: 400px;
  margin-top: 10px;
  margin-left: 35px;
}

.container #newGender {
  height: 50px;
  width: 400px;
  margin-top: 10px;
  margin-left: 60px;
}

.container #newSize {
  height: 50px;
  width: 400px;
  margin-top: 10px;
  margin-left: 95px;
}

.container #newCategory {
  height: 50px;
  width: 400px;
  margin-top: 10px;
  margin-left: 30px;
}

.container #newDescription {
  height: 50px;
  width: 400px;
  margin-top: 10px;
  margin-left: 8px;
}

.container #newPrice {
  height: 50px;
  width: 400px;
  margin-top: 10px;
  margin-left: 78px;
}

.container #newSubmit {
  height: 50px;
  width: 565px;
  margin-top: 10%;
  margin-left: 20px;
  font-size: 14pt;
  font-weight: 600;
  color: white;
  background-color: #101010;
}
